.contenedor{
    background-image: url('./../../assets/fondo.jpg'); // ruta relativa
    background-size: cover;        // ajusta para que cubra todo el contenedor
    background-position: center;   // centra la imagen
    background-repeat: no-repeat;  // evita que se repita
    background-attachment: fixed;
    height: 100vh;                 // opcional: ocupa toda la pantalla
}