<div class="d-flex flex-column vh-100 bg-light">

  <!-- Header del chat -->
  <div class="bg-primary text-white py-3 px-3 d-flex align-items-center">
      <img
        [src]="getAvatar()"
        alt="Avatar"
        class="rounded-circle me-2"
        width="40"
        height="40"
      />

    <div class="flex-grow-1">
      <h6 class="mb-0 fw-bold">
        {{ getNombresUsuarios() }}
      </h6>
    </div>
    <div (click)="volver()">
       <img src="https://cdn-icons-png.flaticon.com/512/3114/3114883.png" width="30" />
    </div>
  </div>

  <!-- Mensajes -->
  <div
  #scrollContainer
  class="flex-grow-1 px-3 py-3 overflow-auto contenedor"
  style="background-color: #f8f9fa; min-height: 0;"
>
    <ng-container *ngFor="let mensaje of mensajes()">
      <div
        class="mb-2 d-flex"
        [class.justify-content-end]="mensaje.sender._id === usuarioActualId"
        [class.justify-content-start]="mensaje.sender._id !== usuarioActualId"
      >
        <div
          class="p-2 rounded-pill"
          [class.bg-primary]="mensaje.sender._id === usuarioActualId"
          [class.text-white]="mensaje.sender._id === usuarioActualId"
          [class.bg-white]="mensaje.sender._id !== usuarioActualId"
          [class.text-dark]="mensaje.sender._id !== usuarioActualId"
          [class.border]="mensaje.sender._id !== usuarioActualId"
          style="max-width: 75%"
        >
          <small>{{ mensaje.text }}</small>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Input de mensaje -->
  <div class="p-3 border-top bg-white d-flex align-items-center">
  <input
    type="text"
    class="form-control rounded-pill me-2"
    placeholder="Escribe un mensaje..."
    [value]="nuevoMensaje()"
    (input)="nuevoMensaje.set($any($event.target).value)"
    (keyup.enter)="enviarMensaje()"
  />
  <button class="btn btn-primary rounded-pill px-4" (click)="enviarMensaje()">
    Enviar
  </button>
</div>
</div>
